.button {
	background-color: purple;
	border-color: purple;
	color: white;
	padding: 5px 16px;
	width: 100%;
}

.button:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.button {
		width: auto;
	}
}