.form-control input {
	height: 32px;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-control label {
	font-weight: bold;
	color: black;
}

input.invalid {
	border: 2px solid red;
	background-color: rgb(240, 165, 156);
}

label.invalid {
	color: red;
}